<a href="https://colab.research.google.com/github/fatmakocak/Machine-Learning-for-Python-/blob/main/Python_uygulama3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)

In [ ]:
seri = pd.Series([1, 20, 3, -12, 5], index=['a', 'b', 'c', 'd', 'e'])
seri

In [ ]:
data = {
    'İsim': ['Özge', 'Ahmet', 'Şirin', 'Mehmet'],
    'Tecrübe': [3, 0.5, 2.5, 1],
    'Maaş': [9000, 2500, 6500, 5000]
}

df = pd.DataFrame(data, columns=["İsim", "Maaş"])
df

In [ ]:
df.info()

In [ ]:
# https://www.kaggle.com/c/titanic/data
# pd.read_EXTENSION
df = pd.read_csv('./src/titanic_dataset/train.csv')

![Titanic veriseti açıklaması](https://github.com/kaanberke/python3_101/blob/master/ML_days/src/screenshots/dataset_explanation.png?raw=1)

credit: https://www.kaggle.com/c/titanic/data

In [ ]:
df.shape

In [ ]:
# m, n = df.shape
# m * n
df.size

In [ ]:
df.ndim

In [ ]:
df.corr()

In [ ]:
df.columns

In [ ]:
df.head(5)

In [ ]:
df.tail()

In [ ]:
df.dtypes

In [ ]:
# Null(NaN) olmayan veri sayısı
df.count()

In [ ]:
df["Embarked"]

In [ ]:
df['Yeni Sütun'] = 'Yeni'
df

In [ ]:
df.iloc[0, 0]

In [ ]:
df.loc[:, 'Age']

In [ ]:
df.drop([0, 3, 2, 5])
#df.head()

In [ ]:
df.drop('Cabin', axis=1)

In [ ]:
df.Cabin[0] is None

![pandas isna() vs isnull()](https://github.com/kaanberke/python3_101/blob/master/ML_days/src/screenshots/pandas_isna()_vs_isnull().png?raw=1)

credit: https://datascience.stackexchange.com/a/37879

In [ ]:
help(df.dropna)

In [ ]:
df.Cabin.dropna()

In [ ]:
df.iloc[0:100:3, 3:6:2] = None
df

In [ ]:
df.dropna(subset=["Cabin", "Fare", "Parch"], axis=0, thresh=3)

In [ ]:
df['Survived'].sum()

In [ ]:
df['Age'].max()

In [ ]:
df['Age'].idxmax()

In [ ]:
df['Age'].min()

In [ ]:
df['Age'].idxmin()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
a = pd.Series([10, 20, 30, 35, 40, 50, 60])
a.describe()

In [ ]:
df.describe()

In [ ]:
df.Age.apply(lambda x: x if x >= 1 else 0)

In [ ]:
df.Embarked.unique()
df.Embarked.apply(lambda x: x.replace('Q', 'Z'))

In [ ]:
df.Age.sort_values()

In [ ]:
df['Fare'] > 10

In [ ]:
a = df[df['Fare'] > 10]
a.head()

In [ ]:
df.head()

In [ ]:
grup = df.groupby('Embarked')
grup.sum()

In [ ]:
"""
for isim, içerik in grup:
    print("=>", isim)
    print(içerik.Age)
    print("-"*40)
"""
grup.Age.agg(np.mean)
# grup.mean().Age
grup.agg([np.size, np.sum, np.mean])

In [ ]:
grup.get_group('S').shape

In [ ]:
grup.filter(lambda x: x['Fare'].mean() > 30)